body{
    background-color: darkslateblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: aliceblue;
}
.card-header{
    background-color: #333;
    color: aliceblue;  
    font-weight: bold;
    font-size: 20px;
}

.description{
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
}

.card-project:hover {
    border: 2px solid grey;
}